<hr>
<footer>
    <div class="footer-links">
        <%= link_to "Guidelines", "/newsguidelines.html" %> |
        <%= link_to "FAQ", "/newsfaq.html" %> |
        <%= link_to "Lists", "#" %> |
        <%= link_to "API", "https://github.com/HackerNews/API" %> |
        <%= link_to "Security", "/security.html" %> |
        <%= link_to "Legal", "http://www.ycombinator.com/legal/" %> |
        <%= link_to "Apply to YC", "http://www.ycombinator.com/apply/" %> |
        <%= link_to "Contact", "mailto:hn@ycombinator.com" %>
    </div>
    <div class="search">
        <label for="search">Search: </label>
        <input id="search" type="search">
    </div>
</footer>
 